/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 2, 2020, 5:43:33 PM
    Author     : Khanh Xinh Tuoi
*/

body{
    margin: 0px;
    background-image: url(../Image/backgroud.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    /*background-size: cover;*/
    min-width: 1000px;
}

#mainBoxShadow1{
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    /*display: block;*/
    background-color: white;
    box-shadow: 0px 0px 20px black;
}


/*The menu bar*/
#menuBar{
    background-color: #890400;
    height: 25px;
    width: 100%;
    margin: 0px;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
}

.subMenuBar{
    margin: 0px;
    color: white;
    font-family: Arial;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2%;
    padding-right: 10px
}

.fontBold{
    font-weight: bold;
}
.fontArial{
    font-family: Calibri;
}
.fontTimeNewRoman{
    font-family: Times New Roman;
    font-weight: bold;
}
.fontSortDescription{
    font-size: 18px;
}
.fontBlack{
    color: black;
}
.fontSign{
    font-family: Kunstler Script;
    font-size: 50px;
}
.magin{
    margin: 0px;
}

.noneLine{
    text-decoration: none;
}
/*About all content and advertising and link overview*/
#bigContener{
    width: 96%;
    height: auto;
    margin: 0px 2% 20px 2%;
    padding-top: 25px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
    border: 1px;
    display: flex; border-bottom-style: solid;
    border-bottom-color: #cccccc;
}

/*display list blog*/
#listBlogs{
    height: auto;
    width: 70%;
    margin-right: 5%;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    float: left;
    display: block;
}

#subContent{
    width: 100%;
    height: auto;
    margin: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    border: 3px;
    border-bottom-style: dotted;
    border-bottom-color: #cccccc;
    display: flex;
    
}